<template>
  <div class="container-fluid">
    <h1>จัดการผู้ใช้</h1>

    <b-button variant="success" @click="addUser()" class="mr-1 mb-2 float-right"
      >เพิ่ม</b-button
    >
    <b-modal
      id="form-user"
      ref="modal"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="nameState"
          label="Name"
          label-for="name-input"
          :invalid-feedback="invalidFeedbackName"
        >
          <b-form-input
            id="name-input"
            v-model="form.name"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          :state="genderState"
          label="gender"
          label-for="gender-select"
          :invalid-feedback="invalidFeedbackAge"
        >
          <b-form-select
            id="gender-select"
            v-model="form.gender"
            :options="optionGender"
            :state="genderState"
            required
          ></b-form-select>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(index)="data">
        {{ data.index + 1 }}
      </template>
      <template v-slot:cell(Operator)="data">
        <b-button @click="editUser(data.item)" class="mr-1">แก้ไข</b-button>
        <b-button variant="danger" @click="delUser(data.item)" class="ml-1"
          >ลบ</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import usersService from './usersService.js'
export default {
  data () {
    return {
      usersService,
      title: '',
      fields: ['index', 'name', 'gender', 'Operator'],
      userList: [],
      optionGender: [
        { text: 'Select One', value: null },
        { text: 'ชาย', value: 'M' },
        { text: 'หญิง', value: 'F' }
      ],
      form: {
        _id: '',
        name: '',
        gender: null
      }
    }
  },
  methods: {
    addUser () {
      this.title = 'เพิ่มข้อมูล'
      this.$bvModal.show('form-user')
    },
    editUser (data) {
      this.title = 'แก้ไขข้อมูล'
      this.form = { ...data }
      this.$bvModal.show('form-user')
    },
    delUser (data) {
      this.deleteUser(data)
    },
    deleteUser (user) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบ ' + user.name + ' หรือไม่', {
          title: 'ลบข้อมูล',
          size: 'md',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.usersService.deleteUser(user._id).then(data => {
              this.getUsers()
            })
          }
        })
    },
    checkFormValidity () {
      const valid = this.$refs.form.checkValidity()
      return valid
    },
    resetModal () {
      this.form._id = ''
      this.form.name = ''
      this.form.gender = null
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return
      }
      const user = this.form
      // console.log(user)
      // Push the name to submitted names
      if (this.form._id === '') {
        this.usersService.addNewUser(user).then(data => {
          this.getUsers()
        })
      } else {
        this.usersService.updateUser(user).then(data => {
          this.getUsers()
        })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('form-user')
      })
    },
    getUsers () {
      this.usersService.getUsers().then(data => {
        this.userList = data
      })
    }
  },
  computed: {
    invalidFeedbackName () {
      if (this.form.name === '') {
        return 'กรุณากรอกชื่อ'
      } else if (this.form.name.length < 2) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return ''
      }
    },
    nameState () {
      if (this.form.name.length > 2) {
        return true
      } else {
        return false
      }
    },
    invalidFeedbackAge () {
      if (this.form.gender === null) {
        return 'กรุณาเลือกเพศ'
      } else {
        return ''
      }
    },
    genderState () {
      if (this.form.gender === null) {
        return false
      } else {
        return true
      }
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
